section.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 4px;
    padding: 8px;
    background-color: #ddd;
    border-radius: 3px;
    min-width: 250px;
}

section.card-container:hover {
    background-color: #eee;
}

section.card-container a {
    flex: 1 1 auto;
}